<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adreg</servlet-name>
        <servlet-class>adreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cuslog</servlet-name>
        <servlet-class>cuslog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tpalog</servlet-name>
        <servlet-class>tpalog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tpareg</servlet-name>
        <servlet-class>tpareg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downer</servlet-name>
        <servlet-class>downer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adlog</servlet-name>
        <servlet-class>adlog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adreg</servlet-name>
        <url-pattern>/adreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cuslog</servlet-name>
        <url-pattern>/cuslog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tpalog</servlet-name>
        <url-pattern>/tpalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tpareg</servlet-name>
        <url-pattern>/tpareg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downer</servlet-name>
        <url-pattern>/downer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adlog</servlet-name>
        <url-pattern>/adlog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
